<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Bill Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (billDetails) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ billDetails.type }} Bill</ion-card-title>
      <ion-card-subtitle>
        Party: {{ billDetails.party.name }} <br />
        Amount: ₹{{ billDetails.amount }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="medium">Note: {{ billDetails.note || 'None' }}</ion-text
      ><br />
      <small>Date: {{ billDetails.createdAt | date : 'medium' }}</small>
    </ion-card-content>
  </ion-card>

  <ion-item-divider>
    <ion-label>Items</ion-label>
  </ion-item-divider>

  <ion-list>
    @for (item of billDetails.items; track item.productId) {
    <ion-item>
      <ion-label>
        <h2>{{ item.product.name }}</h2>
        <p>Qty: {{ item.quantity }} × ₹{{ item.price }} = ₹{{ item.totalAmount }}</p>
      </ion-label>
    </ion-item>
    }
  </ion-list>
  } @else {
  <ion-spinner name="crescent"></ion-spinner>
  <ion-text>Loading bill details...</ion-text>
  }
</ion-content>
