ion-card-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.bottom-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 12px;
  background: var(--ion-color-light);
  gap: 10px;
  border-top: 1px solid #ddd;
  z-index: 10;
}
