<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">NPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (form) {
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    class="ion-padding ion-display-flex ion-flex-column ion-justify-content-between gap-32 hp-100"
  >
    <!-- OTP Input Field -->
    <div class="ion-display-flex ion-flex-column gap-8">
      <ion-input
        formControlName="otp"
        type="text"
        label="OTP"
        labelPlacement="stacked"
        fill="solid"
        inputmode="numeric"
        maxlength="6"
        placeholder="123456"
        autocomplete="one-time-code"
      ></ion-input>

      @if (otp?.invalid && otp?.touched) {
      <ion-note color="danger">Please enter a valid 6-digit OTP.</ion-note>
      }
    </div>

    <!-- Verify Button -->
    <ion-button expand="block" shape="round" [disabled]="form.invalid" type="submit"> Verify OTP </ion-button>
  </form>
  } @else {
  <!-- Loading Fallback -->
  <div class="ion-padding ion-text-center hp-100 ion-display-flex ion-justify-content-center ion-align-items-center">
    <ion-spinner name="crescent"></ion-spinner>
    <ion-text color="medium" class="ion-margin-top">Loading...</ion-text>
  </div>
  }
</ion-content>
