<ion-tabs>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>My Business</ion-title>
      <ion-button slot="end" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="parties">
      <ion-icon name="people-outline"></ion-icon>
      Parties
    </ion-tab-button>
    <ion-tab-button tab="bills">
      <ion-icon name="receipt-outline"></ion-icon>
      Bills
    </ion-tab-button>
    <ion-tab-button tab="items">
      <ion-icon name="albums-outline"></ion-icon>
      Items
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
